@charset "UTF-8";

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Root */
:root {
    font-family: "Poppins", sans-serif;
    font-size: 1em;
    color: #fff;
    line-height: 1.2;

    --text-color: #fff;
    --darkened-text-color: #727272;
    --slightly-darkened-text-color: #aeaeae;

    --header-footer: #1b1b1d;
    --header-footer-border: #444444;
    --card-bg: #1e1e1e;
    --normal-background-color: #272727;

    --asset-bg: rgba(65, 65, 65, 0.5);
    --border-color: #565656;

    --hat-type-border: rgb(255, 0, 0);
    --hat-type-shadow: #ff0000af;
    --tool-type-border: rgb(0, 255, 0);
    --tool-type-shadow: #1aff00b2;
    --face-type-border: rgb(255, 230, 0);
    --face-type-shadow: #ffff00b7;

    --regular-shadow: #181818b7;

    --logo-color: rgb(79,232,131);
    --soon-color: #e13d3d;

    --gold-rank: #ffd817;
    --gold-rank-gradient: #ddb904;
    --silver-rank: #6b6666;
    --bronze-rank: #e18b53;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HTML Sections */
body {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    min-height: 100vh;

    background: var(--normal-background-color);
    color: var(--text-color);

    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;

    user-select: none;
}

/* Header */
.header {
    position: relative;
}

/* Nav */
.logo {
    max-width: 75px;
    padding: .75rem;
    vertical-align: middle;
}

.nav-icon {
    max-width: 45px;
    padding: .15rem;
    margin: 0 15%;
    vertical-align: middle;
}

.menu {
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    border-bottom: 2px var(--header-footer-border) solid;
    background-color: var(--header-footer);

    margin: 0;
    padding: 1em auto;
    width: 100%;

    justify-content: space-around;
    align-items: center;
}

@media (min-width:600px) {
    .menu {
        flex-direction: row;
        flex-wrap: nowrap;
    }
}
  
.menu__item {
    font-size: .9em;
    width: 90%;
    border-bottom: #777 1px solid;
}

.menu__item:last-child {
    border-bottom: none;
}
  
@media (min-width:600px) {
    .menu__item {
        border-bottom: none;
    }
}
  
@media (min-width:600px) {
    .menu__item:first-child {
        flex: 0 0 350px;
    }
}

.menu__link:link,
.menu__link:visited {
    display: block;
    text-align: center;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.2em;
    
    margin: 0;
    padding: 0;
}

.menu__item:first-child .menu__link {
    font-size: 0;
}

/* Main */
.main {
    flex-grow: 1;
    margin: auto;
    height: 100vh;
}

.main-title {
    font-size: 2em;
    margin: .75em 0;
    padding: 0 0 .25em 0;
    border-bottom: #aaa solid 2px;
}

/* Footer */
.footer {
    display: grid;
    border-top: 2px var(--header-footer-border) solid;

    background: var(--header-footer);
    text-align: center;

    padding: .25em 0;
    width: 100%;

    color: var(--darkened-text-color);
    font-size: .75em;
}

.footer__p {
    margin: .5em;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 5px;
}
  
::-webkit-scrollbar-track {
    background: transparent;
}
  
::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 50px;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #aaa;
  }

/* Extra icons */
.projected-tag {
    position: absolute;
    width: 30px;
    height: 30px;

    background-image: url(../icons/projected.png);
    background-size: cover;

    z-index: 1;

    margin: 5px 0 0 5px;
}