@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    margin: 0;
    padding: 0;
    overflow: hidden;

    min-width: 100vh;

    background-image: url(PSC.png);
    background-size: cover;
    background-repeat: space;

    mix-blend-mode: difference;
}

div {
    filter: grayscale(1) invert(1);

    position: absolute;
    top: 50%;
    left: 51.75%;
    transform: translate(-50%, -50%);

    user-select: none;
    font-family: 'Poppins', 'sans-serif';
    font-size: 300pt;

    mix-blend-mode: difference;
}

img {
    filter: grayscale(1) invert(1);

    animation: bg-scroll 6.5s linear infinite;
    animation-duration: .5s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;

    animation-name: bg-scroll;
    background-image: url(cone.png);

    background-repeat: repeat;
    background-size: 56px 56px;
    height: 100%;
    left: 0;
    max-height: 100vh;
    min-height: 100vh;

    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;

    position: fixed;
    width: 100%;
}

@keyframes bg-scroll {
    0% {
        background-position: 56px 56px;
    }
    100% {
        background-position: 0 0;
    }
}